
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
      
}

header{
    background-color:rgb(0, 255, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 40px;
    
}

title{
    
    
    font-style: normal;
    color: rgb(0, 0, 0);
    
}
body{
    background-color:rgb(217, 217, 217);

}
h1{
    
    margin-left: 10px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
}
img{
    background-color: white;
    width: 100%;
    max-width: fit-content;
    height: 300px;
    max-height: fit-content;
    border: 5px solid rgb(255, 255, 255);
    margin-left: 5px;
    margin-right: 0%;
    margin-top: 10px;
    padding: 3px;
    padding-bottom: 50px;
    object-position: center;
    border-radius: 10px;
}    
h2{
    font-size: 30px ;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 360px;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 500px;
    
}
h3{
    
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align:  center;
    margin-left: 100px;
    margin-right: 1190px;
    
    background-color: rgb(205, 252, 255);
    border: 10px solid rgb(205, 252, 255);
    border-radius: 10px;
}
.img1{
    width: 100%;
    max-width: fit-content;
    height: 300px;
    max-height: fit-content;
    margin-left: 0px;
}
.img2{
    width: 100%;
    max-width: fit-content;
    height: 300px;
    max-height: fit-content;
    margin-left: 0px;
}
.img3{
    width: 100%;
    max-width: fit-content;
    height: 300px;
    max-height: fit-content;
}
.part1{
    text-align: center;
    margin-left: 650px;
    margin-right: 300px;
    margin-top: 0px;
    margin-bottom: 200px;
    background-color:rgb(255, 255, 255);
    border: 40px solid rgb(255, 255, 255);
    border-radius: 10px;
}


h5{
    font-size: 50px;
    font-style: normal;
    color: rgb(0, 0, 0);
    margin-left: 350px;
    margin-right: auto;
    margin-top: -300px;
    
    
}
.part2{
    margin-top: -1210px;
    margin-bottom: 400px;
}


footer{
    background-color: rgb(0, 255, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 40px;
    margin-top: 1000px;
}
p{
    text-align: left;
    font-style: normal;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 7000px;
}
.nome{
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align:  center;
    margin-left: 100px;
    margin-right: 1190px;
    margin-top: -50px;
   
}
h6{
    font-size:20px ;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align:  center;
    margin-left: 100px;
    margin-right: 1190px;
    
    background-color: rgb(205, 252, 255);
    border: 10px solid rgb(205, 252, 255);
    border-bottom: 10px solid rgb(205, 252, 255);
    
    border-radius: 10px;
}
h7{
    font-size: 20px;
}
.digital{
    font-size: 16px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}
.photo{
    font-size: 16px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;

}